@import "tailwindcss";

@theme {
  --color-flor: #DBCCBA;
  --color-flor-2: #F8F3EC;
}
body {
  font-family: "Comfortaa", sans-serif;
  
}

@font-face {
  font-family: Comfortaa;
  font-style: normal;
  font-display: swap;
  src: url("../src/assets/fonts/Shanti-Regular.ttf") format("woff2");
}
